<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".asp" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="*.asp" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
    </httpHandlers>
  </system.web> 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>
  <connectionStrings>
    <add name="HorsetraderConnectionString" connectionString="Data Source=localhost;Initial Catalog=Socalistas;User ID=sa;Password=dataskill" />
  </connectionStrings>
  <appSettings>
    <add key="WebsiteURL" value="http://www.horsetrader.com"/>
    <add key="ContestID" value="2"/>
    <add key="EmailHost" value="98.158.164.151"/>
    <add key="EmailPort" value="25"/>
    <add key="EmailAddressFrom" value="funnyhorse@horsetrader.com"/>
    <add key="EmailAddressTo" value="funnyhorse@horsetrader.com"/>
    <add key="EmailAddressUnsubscribe" value="unsubscribe@horsetrader.com"/>
    <add key="AttachmentPath" value="C:\\Users\\Vaies\\Documents\\Published Sites\\HorsetraderVideoContest_09_25_2013\\assets\\files\\"/>
  </appSettings>
</configuration>
